.rowFlexbox {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
}

.centered {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.paragraph {
    padding: 20px;
    max-width: 45%;
}

.rowFlexbox img {
    padding: 20px;
    max-width: 100%;
}

picture {
    max-width: 48%;
}

@media screen and (max-width: 980px) {
    picture {
        max-width: 80%;
    }

    .paragraph {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .image > img {
        max-width: 100%;
    }
}