@import url("openSansFont.css");
@import url("header.css");
@import url("questions.css");

/*-------------------------------------*/
/*
    Global
*/
/*-------------------------------------*/
:root {
    --color-bg-bright: #ffffff;
    --color-gray: #848484;
    --color-light-gray: rgb(238, 238, 238);
    --color-accent: #426aec;
    --color-accent-alt: #30cbe8;
    --color-text: #000000;
    --color-subject-textPanelBG: #ededed;
    --color-figcaption: #333333;
}

* {
    font-family: 'Open Sans', sans-serif;
}
/*-------------------------------------*/


/*-------------------------------------*/
/*
    Header and navbar
*/
/*-------------------------------------*/
/* See imported file */

/*-------------------------------------*/
main {
    margin: 0 10px 0 10px;
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: large;
    margin: 0;
    padding: 0;
    /*background-color: #eeede8;*/
    background-color: rgb(246, 251, 255);
}

.headlineCenter {
    padding: 0;
    margin-top: 0;
    text-align: center;
}

.boldText {
    font-weight: 700;
}

.smallText {
    font-size: small;
}
.redText {
    color: red;
}

.greenText {
    color: green;
}

.marginRightAuto {
    margin-right: auto;
}

.defaultButton {
    background-color: var(--color-bg-bright);
    color: var(--color-text);
    font-size: large;
    border-radius: 5px;
    border-width: 2px;
    border-color: var(--color-text);
    border-style: solid;
    padding: 3px 10px 3px 10px;
    box-shadow: none;
}

.defaultButton:hover {
    background-color: var(--color-accent);
    color: var(--color-bg-bright);
    cursor: pointer;
}

.paddedButton {
    padding: 0.1em 2em;
}

a,
a:visited {
    color: var(--color-accent);
    cursor: pointer;
    text-decoration: underline;
}

.mainContentContainer {
    /*background-color: #e5e5e5;*/
    background-color: #f8fcff;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-shadow: 0 0 24px 2px rgba(0,0,0,0.12); 
    box-shadow: 0 0 24px 2px rgba(0,0,0,0.12);
}

figcaption {
    color: var(--color-figcaption);
    font-size: small;
}

figcaption a {
    color: var(--color-figcaption) !important;
}

figure {
    margin: 0;
}

/*-------------------------------------*/
/*
    Footer
*/
/*-------------------------------------*/
footer {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    width: 100%;
    background: #e8f2f9;
    -webkit-box-shadow: 0 -8px 14px 5px rgba(53, 53, 53, 0.26);
    box-shadow: 0 -8px 14px 5px rgba(53, 53, 53, 0.26);
}

.footerLinks {
    list-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footerLinks li {
    display: inline-block;
    padding: 0 5px;
}

.footerLinks li a {
    text-decoration: none;
    color: var(--color-text);
}

.footerLinks li a:hover {
    text-decoration: none;
    color: var(--color-accent);
}

.footerLogos {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.footerLogoImg {
    margin: 0 10px 0 10px;
    width: 2rem;
}
/*-------------------------------------*/


/*-------------------------------------*/
/*
    Breadcrumb
*/
/*-------------------------------------*/

ul.breadcrumb {
    padding: 0;
    margin: 0;
    margin: 0 0 20px 0;
    list-style: none;
    font-size: small;
}

ul.breadcrumb li {
    display: inline;
}

.breadcrumb li {
    color: #b4b4b4
}

ul.breadcrumb li+li:before {
    padding: 5px;
    color: var(--color-text);
    content: "/\00a0"
}

ul.breadcrumb li a {
    /*color: var(--color-text);*/
    color: #707070;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: var(--color-accent);
    text-decoration: none;
}

/*-------------------------------------*/
/*
    Extra
*/
/*-------------------------------------*/

#marg {
    padding-top: 25px;
    padding-bottom: 25px;
}