.image {
    width: 5rem;
}

.centerBig {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.subjectH3 {
    margin-bottom: 15px;
}

.subjectTwoColumns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 25px;
}

.subjectTwoColumns.reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.subjectTwoColumns .subjectText {
    padding-bottom: 0px;
}

.subjectTwoColumns img {
    flex-shrink: 1;
    width: 24rem;
    max-width: 100%;
}

.subjectTwoColumns p {
    max-width: 23rem;
}

.mainContentContainer .nextSubLevel {
    margin-left: 25px;
    margin-right: 25px;
}

.marginBottom {
    margin-bottom: 55px;;
}

.subjectContainer {
    margin-right: auto;
    margin-left: auto;
    max-width: 50rem;
}